doctype html
html.h-100(lang="en")
  head
    title= Title
    link(href=assetPath('main.css') rel="stylesheet")
    script.
      var gon = !{JSON.stringify(gon)};
  body
    div#chat
    script(src=assetPath('main.js'))
